.tab-bar {
  background-color: #f7f7f7;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.tab-bar .tab-bar_tab {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tab-bar .tab-bar_tab i {
  display: flex;
  text-align: center;
}
